html {
  font-size: 18px;
  color: white;
  font-family: Helvetica, sans-serif;
}

body {
  width: 100%;
}

/* Header Section with Logo */
header {
  background-color: black;
  width: 100%;
  display: block;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items:  center;
  font-size: 1rem;
  max-width: 960px;
  margin: 0px auto;



}

#logo {
  height: 1.5rem;
  width: auto;
  padding: 0 0.5rem;
}

#title {
  padding: 0.66rem 0.5rem;
}


/* Arrival Section */
#arrival {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  text-transform: uppercase;

}


.moto {
  background-color: black;
  display: flex;
  flex-flow: column;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

h4 {

  font-size: 1rem;
  font-weight: bold;
}

h1 {
  margin-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0px auto;

}

.container-navbar span {
  padding: 0.75rem 0;
}

#menu {
  display: none;
}


/*Item Section*/

.items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;


}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  width: 30%;

}


.image-box {
  display: flex;
  align-items: center;
  height: 9rem;
  margin: auto;
  padding: 2rem 0;
}

img.product {
  max-width: 8rem;

}

.textbox {
  /* border: 4px solid black; */
  background-color: black;
  width: 100%;
}

.textbox p {
  text-align: center;
  padding: 0.5rem 0;
}

.additional {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.add-item {
  display: block;
  width: 35%;
}

.add-item p {
  color: black;
  margin-top: 0.1rem;
}

.textbox span {
  display: block;
  padding: 1rem 2rem;
}


/* Footer Section */
footer {
  background-color: black;
  width: 100%;
  height: 5rem;
  display: block;
  margin-top: 4rem;
}

footer .container {
  height: 100%;
  margin: 0 auto;
}

#copyright {
  margin: auto 0;
}

/* Media Quary */
/* For Tablets */
@media only screen and (max-width: 1024px) {
  /* Hide Glasses */
  #glasses {
    display: none;
  }

  /* Change width of items to 47% */
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    width: 47%;
  }

  /* Modify Navigation Bar */
  .container-navbar span {
    display: none;
  }

  #menu {
    display: block;
    padding: 0.75rem 0;
  }

  .container-navbar {
    justify-content: center;


}



/* For Phones */
@media only screen and (max-width: 470px) and (orientation: portrait) {
  /* Hide 2nd and 3rd Items */
  #glasses {
    display: none;
  }
  #watch {
    display: none;
  }

/* Modify Arrival Section */
  #arrival {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15rem;
  text-transform: uppercase;
  }
  .moto {
    background-color: black;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
    top: 10rem;
  }
  h4 {

    font-size: 0.77rem;
    font-weight: bold;
  }

  h1 {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
  }

  /* Change width of items to 90% */
  .items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid black; */
    width: 90%;
  }

  /* Modify Navigation Bar */
  .container-navbar span {
    display: none;
  }

  #menu {
    display: block;
    padding: 0.75rem 0;
  }

  .container-navbar {
    justify-content: center;
}

  /*  */
.additional {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 3rem;
}
.add-item {
  display: block;
  width: 90.5%;
  margin-top: 0.5rem;

}

.add-item p {
  color: black;

}



.textbox span {
  display: block;
  padding: 1rem 2rem;


}

#copyright {
  margin: auto 0;
  display: block;
  width: 100%;
  text-align: center;
}
}
